### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/shelf/Uncommitted_changes_before_Update_at_14_03_2025_16_39_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_14_03_2025_16_39__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_7_03_2025_00_15_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_7_03_2025_00_15_\[Changes\]1/shelved.patch
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_7_03_2025_00_15__Changes_.xml
